<h1>Create a list</h1>

<%= simple_form_for(@list) do |f| %>
  <%= f.label :name%>
  <%= f.text_field :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<hr>
<%= link_to 'Back to lists', lists_path %>
