<div class="text-center banner">
  <h1><%= @list.name %></h1>
  <%= @list.movies.count %> movie
</div>

<% @list.movies.each do |movie| %>
  <%= movie.title %>
<% end %>
<br>
<%= link_to 'Back to lists', lists_path %>

<%= link_to 'Add a movie',  new_list_bookmark_path(@list), class: 'btn btn-success' %>
